{{ define "main" }}

{{ .Content }}

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.1461534500122075%2C41.3883099718023%2C2.1496939659118657%2C41.390149203098645&amp;layer=mapnik&amp;marker=41.38922959395441%2C2.147923707962036" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=41.38923&amp;mlon=2.14792#map=19/41.38923/2.14792">View Larger Map</a></small>
{{ end }}
