h1,h2,h3,h4 {
    line-height: 2.5rem;
}

h4 {
    color: #603913
    }

button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid #A57348;
    border-radius: 2px;
    padding: 10px;
    font-size: large
}

button:hover {
    background-color: #99AAB5;
    color: #A57348;
    border: 2px solid #A57348;
}

html {
  /*
  font-family: 'Inconsolata', monospace;
  font-family: 'Sunflower', sans-serif;
  */
  font-family: 'Titillium Web', sans-serif;
  font-size: medium; }
